name: NuGet publisher for cli-menu

on:
  # Triggers the workflow on new version tag
  push:
    tags:
     - 'v[0-9]+.[0-9]+.[0-9]+' # tag pattern: 'v{{version}'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Pack
      run: dotnet pack --configuration Release

    - name: Publish
      run: dotnet nuget push **/cli-menu*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ env.NUGET_API_KEY }}

    
